/* Start with mobile screen: */

/* The sticky class is not added to mobile class */
/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */

nav {
    background-image: url("../images/page_design/seattle_icon.jpeg");
    background-position-y: 30%;
    background-position-x: center;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
    background-color: rgba(0, 162, 255, 0.80);
}

nav li {
    border: 1px solid #bbb;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav a {
    display: block;
    color: white;
    padding: 14px 14px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav a:hover {
    opacity: 0.7;
    background-color: aquamarine;
}

li.active {
    background-color: rgba(0, 255, 225, 0.65);
    font-weight: 700;
    letter-spacing: 4px;
}

/* The following handles the skip to content function */
/* It's invisible from most of screens */
#skip a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip a:focus {
    height: auto;
    position: static;
    width: auto;
}

#back_to_top {
    position: fixed;
    bottom: 20px;
    right: 100px;
    z-index: 100;
    display: none;
}

main, aside {
    font-family: 'Sono', sans-serif;
    width: 90%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 0px 10px;
}

strong {
    font-weight: 700;
}

aside {
    overflow: scroll;
    padding: 10px 10px;
    font-size: 14px;
    border:rgba(0, 255, 225, 0.65) solid 2px;
    border-radius: 10px;
}

h1.title {
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h2.subtitle {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

article {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /* text-align: justify; */
}

article a {
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
}

article a:visited {
    color: purple;
    text-transform: uppercase;
}

/* Grid1 property */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto 150px 25px;
    grid-gap: 10px;
}

.a {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
}

.b {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.c {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.d {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    justify-self: end;
}

/* Gallery flexbox property */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.gallery_box {
    margin: 10px;
    flex: 1 1 200px;
}

/* Wrap the image and show captions when hover */
figure {
    position: relative;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

figure.opening {
    display: none;
}

figure.title_image {
    display: none;
}

img {
    display: block;
    border:rgba(0, 162, 255, 0.80) 5px dashed;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.title_img {
    display: block;
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figcaption {
    display: block;
    border:rgba(0, 162, 255, 0.80) 5px none;
    border-radius: 40px;
    position: absolute;
    top: 5px;
    bottom: -5px;
    left: 5px;
    right: -5px;
    background-color: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    padding: 30% 10px;
    text-align: center;
    font-size: 20px;
    opacity: 0;

    transition: opacity 1s, visibility 1s;
}

figure:hover figcaption {
    visibility: visible;
    opacity: 1;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 10px;
}
  
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 1;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
/* Style the back side */
.flip-card-back {
    background-color: rgba(31, 143, 255, 0.8);
    color: white;
    transform: rotateY(180deg);
    border:rgba(0, 162, 255, 0.80) 5px none;
    border-radius: 40px;
    text-align: center;
    padding: 50px 10px;
}

#img_2_4 {
    object-fit: cover;
    object-position: center bottom;
}

footer {
    height: 100%;
    margin: 0px 0px 0px 0px;
    color: #000;
    text-align: center;
    padding: 10px 10px;
    width: 100%;
    background: white;
    background: linear-gradient(45deg, rgba(0, 162, 255, 0.80) 0%, rgba(0, 255, 225, 0.65) 50%, rgba(0, 162, 255, 0.80) 100%);
}

@media screen and (min-width: 700px) {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 30;
    }

    nav {
        background-position: left top;
    }

    figure {
        width: 500px;
        height: 300px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        margin: 0;
        padding: 0;
    }

    nav li {
        border: none;
    }

    article {
        margin: 10px 30px;
    }

    .grid {
        display: grid;
        grid-template-columns: auto 200px;
        grid-template-rows: 100px 200px 400px auto 25px;
        grid-gap: 10px;
    }

    .a {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }
    
    .b {
        grid-column: 1 / 2;
        grid-row: 2 / 5;
    }
    
    .c {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        margin-right: 5px;
        
    }
    
    .d {
        grid-column: 1 / -1;
        grid-row: 5 / 6;
        justify-self: end;
    }

    .gallery {
        flex-direction: row;
    }
}


@media (prefers-reduced-motion: reduce) {
    .flip-card-inner {
        transition: none;
    }
}